{% extends "base.html" %}
{% block title %}Student Profile{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">Customize Your Profile</h1>


  <form method="POST" enctype="multipart/form-data">
  

    <!-- Username -->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" 
             value="{{ current_user.username }}" required>
    </div>

    <!-- Your ID (cannot change) -->
    <div class="mb-3">
      <label for="your_id" class="form-label">Your ID</label>
      <input type="text" class="form-control" id="your_id" name="your_id" 
             value="{{ current_user.your_id }}" readonly>
    </div>

    <a href="{{ url_for('student.change_password') }}" class="btn btn-danger ">Change your password</a>

    <button type="submit" class="btn btn-primary float-end">Update Account Details</button>
    
  </form>


</div>
{% endblock %}
